<style></style>

<nav class="main">
  <ul class="menu">
    @if(isMobile){
    <span class="menuButton"> MENU </span>
    }
    <span (click)="changeLanguage()" class="language-switcher">
      <div
        class="language-options"
        [class.spanish]="translationService.currentLang() === 'es'"
      >
        <p>ES</p>
        <p>EN</p>
      </div>
    </span>

    <a target="_blank" href="https://www.instagram.com/_ma.arquitectura/">
      <img
        class="icons ig"
        src="assets/ig-logo.png"
        alt="Logo"
        width="28vw"
        height="auto"
      />
    </a>
  </ul>

  <section class="logo-container">
    <img
      class="logo"
      src="assets/logo-blanco.png"
      alt="Logo"
      width="120"
      height="auto"
    />
  </section>
  @if(!isMobile){
  <span class="nosotros" (click)="scrollToItem('aboutUs')">{{
    "aboutUs" | translate
  }}</span>
  }
</nav>
