@use "../../../assets/styles/variables.scss" as *;
.menuButton {
  color: $primary-font-color;
  justify-self: center;
}
.main {
  height: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Distribuye los elementos */
  align-items: center;
  background-color: rgba($deep-onyx, 0.65);
  color: white;
}

.logo-switcher {
  align-self: center;

  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center;
  height: 90px;
  cursor: pointer;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra la imagen horizontalmente */
  transition: transform 0.3s ease;
}

.logo {
  width: 90px; /* Establece el tamaño base */
  height: auto;
  transition: all 0.4s ease-in-out; /* Agrega una transición suave */
}

.logo-switcher:hover .logo {
  opacity: 0; /* Aumenta el tamaño al hacer hover */
}

.marca {
  font-family: "modeco";
  transition: transform 0.7s ease-in-out; /* Agrega una transición suave */
}
.logo-switcher:hover .marca {
  transform: translateY(-70px);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding-right: 20px;
  &-container {
    padding-left: 20px;
    button {
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  span {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: font-size 0.3s ease;
  }
  span:hover {
    font-size: 18px;
    font-weight: 400;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    color: var(--primary-font-color);
    font-family: "modeco", sans-serif;
    font-display: swap;
    img:hover {
      width: 29px;
    }
  }
}

.hidden {
  top: -100px; /* Oculta el topbar */
}

/* Al pasar el mouse, se muestra */
.main:hover {
  top: 0 !important;
}

.nosotros {
  text-align: right;
  padding-right: 40px;
  font-size: 18px;
  font-family: "modeco", sans-serif;
  cursor: pointer;
  color: var(--primary-font-color);
  font-display: swap;
  font-weight: 100;
}
.mail {
  margin-top: 1px;
}
.ig {
  margin-top: 4px;
}

@media (max-width: 600px) {
  .main {
    height: 12vw;
  }
  .logo {
    width: 12vw;
  }
}

.language-switcher {
  display: inline-block;
  height: 20px; /* Altura de una línea */
  overflow: hidden;
  cursor: pointer;
}

.language-options {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.language-options p {
  margin: 0;
  padding: 0 5px;
  line-height: 20px; /* Mismo que la altura del contenedor */
  height: 20px;
}

/* Cuando está en español */
.language-options.spanish {
  transform: translateY(10px); /* Mueve hacia arriba para mostrar ES */
}

/* Cuando no está en español (inglés por defecto) */
.language-options:not(.spanish) {
  transform: translateY(-10px); /* Muestra EN */
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0vw;
  height: 100vh;
  justify-content: space-around;
  background-color: rgba($darker-onyx, 0.97);
  overflow: hidden;
  transition: width 0.4s ease;

  &-option {
    width: 100%;
    color: $stone-white;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    font-family: "ivnm";
    transition: all 0.3s ease;
    line-height: 70px;
    font-weight: BOLDER;
    letter-spacing: 10px;
    border-bottom: 1px rgba($stone-white, 0.2) solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-option:hover {
    font-size: 60px;
  }
}

.activeMenu {
  width: 40vw;
  & .burgerMenu-option {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .activeMenu {
    width: 100vw;
  }
}
