.featuredImg {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden; /* Evita bordes indeseados */

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 56.25vw; /* Relación 16:9 */
    transform: translate(-50%, -50%);
  }
}

.videoOverlay {
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;

  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: white;
    font-size: 6rem;
    z-index: 3;
  }
}

.fullWidthImage {
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: auto;
  }
}
.homeContainer {
  position: relative;
}
.backgroundImagesContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.contentContainer {
  position: relative;
  z-index: 1; /* Mayor que backgroundImagesContainer */
}

.contentContainer div {
  color: white;
  font-size: 2.5rem; /* 40px */

  position: relative; /* Cada div HOLA */
}

.project-landig {
  width: 100%;
  min-height: 95vh;
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* Cubrir todo el contenedor sin deformar */
  background-position: center; /* Centrar la imagen */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10%;
  position: relative;
  justify-content: center;
  color: white;
  padding-bottom: 5%;
}
.project-landig:nth-child(even) {
  flex-direction: column;
  align-items: flex-end;
  .name {
    text-align: right;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.name {
  font-size: 4.375rem; /* 70px */
  font-weight: 400;
  color: white;
  margin-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 2;
  font-family: "modeco", system-ui, sans-serif; /* Fallback añadido */
  font-display: swap;
}
.m2 {
  transition: 0.6s ease-in-out;
  justify-self: flex-end;
  font-weight: lighter;
  padding-bottom: 10px;
  padding: 0px 70px;
  opacity: 1;
  font-size: 2.5rem; /* 40px */
  margin-right: 0px;
  font-family: "modeco", system-ui, sans-serif; /* Fallback añadido */
  font-display: swap;
  z-index: 2;
}
.divisor {
  height: 90px;
  width: 1.5px;
  margin: 0px 70px;
  background-color: white;
  opacity: 1;
}

@media (max-width: 600px) {
  .featuredImg {
    height: 55vw;
  }
  .videoOverlay {
    height: 55vw;
    span {
      font-size: 1rem;
    }
  }
  .name {
    font-size: 3.125rem; /* 50px */
    // margin-top: 20%;
    padding: 0 20px;
  }
  .divisor {
    margin: 0px 20px;
  }
  .m2 {
    font-size: 1.5625rem; /* 25px */
    margin-right: 40px;
    padding: 0px 20px;
  }
}
