<!-- <div class="homeContainer"> -->
<!-- <div class="project-landig">
  <ng-container>
    <iframe
      loading="lazy"
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/Bi5S56d1HFg?autoplay=1&controls=0&modestbranding=1&rel=0&loop=1&playlist=Bi5S56d1HFg&mute=1"
      title="YouTube video"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </ng-container>
  <div class="overlay"></div>

  <span class="name">{{ "Reforma BNB" }}</span>
  <span class="m2">{{ "22" }}m<sup>2</sup></span>
</div> -->

<section class="featuredImg">
  <ng-container>
    <iframe
      loading="lazy"
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/Bi5S56d1HFg?autoplay=1&controls=0&modestbranding=1&rel=0&loop=1&playlist=Bi5S56d1HFg&mute=1"
      title="YouTube video"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </ng-container>
</section>

<!-- </div> -->
<div class="videoOverlay"></div>

<div
  class="project-landig"
  [ngStyle]="{
    'background-image': 'url(../../../assets/foto-home1.jpg)'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ "Reforma BNB" }}</span>
  <div class="divisor"></div>
  <span class="m2">SAAVEDRA</span>
</div>

<div
  class="project-landig"
  [ngStyle]="{
    'background-image': 'url(../../../assets/foto-home2.jpg)'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ "Reforma BNB" }}</span>
  <div class="divisor"></div>

  <span class="m2">BELGRANO</span>
</div>

<div
  class="project-landig"
  [ngStyle]="{
    'background-image': 'url(../../../assets/foto-home3.jpg)'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ "Reforma BNB" }}</span>
  <div class="divisor"></div>

  <span class="m2">COLEGIALES</span>
</div>

<div
  class="project-landig"
  [ngStyle]="{
    'background-image': 'url(../../../assets/foto-home4.jpg)'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ "Reforma BNB" }}</span>
  <div class="divisor"></div>

  <span class="m2">PALERMO</span>
</div>
