<link rel="preconnect" href="https://res.cloudinary.com" />

@if(innerWidth < 600){
<div class="closeButton" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</div>
} @else {
<span class="closeButton" (click)="dialogRef.close()">{{
  "close" | translate
}}</span>
}

<div
  class="project-landig"
  [ngStyle]="{
    'background-image':
      'url(' +
      'https://res.cloudinary.com/dskkynwxb/c_fill,g_auto,h_1000,w_1950/q_auto:good/f_auto/' +
      data.showImg +
      ')'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ data.name }}</span>
  <span class="m2" *ngIf="data.m2">{{ data.m2 }}m<sup>2</sup></span>
</div>

<section class="images-container">
  @for (image of data.images; track $index; let i = $index) {
  <div
    [ngStyle]="{
      'grid-row':
        'span ' + (image.featured ? 3 : image.rowSpan ? image.rowSpan : 3),
      'grid-column':
        'span ' + (image.featured ? 3 : image.colSpan ? image.colSpan : 1),
      position: 'relative'
    }"
  >
    <img
      class="image"
      [ngSrc]="'c_fill,g_auto,h_550,w_550/q_auto:good/f_auto/' + image.src"
      alt="{{ 'Foto del proyecto' }}"
      [fill]="true"
    />
  </div>

  }
</section>
