<main class="container">
  <div class="background">
    <div class="rectangle"></div>
    <div class="square2"></div>
    <div class="rectangle2"></div>
    <div class="rectangle3"></div>
    <div class="square3"></div>
    <!-- 
  <img class="footer" src="assets/ciudad.png" alt="base">
  <img class="footer2" src="assets/ciudad.png" alt="base">
  <img class="footer3" src="assets/ciudad.png" alt="base"> -->
    @if(innerWidth > 600){
    <div class="logo-container">
      <div class="line1"></div>

      <div class="line2"></div>

      <div class="line3"></div>

      <div class="line4"></div>

      <div class="line5"></div>

      <div class="line6"></div>
    </div>
    }
  </div>
  <h1 class="title">{{ "studio" | translate }}</h1>

  <div class="nosotros">
    <div class="parallax-container2">
      <img
        class="profile-img2"
        src="assets/estudio-arquitectura.jpg"
        alt="Foto estudio"
      />
      <h2>{{ "estudioDescription" | translate }}</h2>
      <div class="overlay2"></div>
    </div>
    <div class="profile-container">
      @if(innerWidth > 600){
      <div class="parallax-container">
        <img src="assets/manu.jpg" class="profile-img" alt="Foto manu" />
      </div>

      <div class="profile">
        <p>
          {{ "manuDescription" | translate }}
        </p>
        <div class="profile-nameRoleContainer">
          <h1>- MANUEL VEIGA</h1>
          <p>Cofounder</p>
        </div>
      </div>
      } @else {
      <div class="profile">
        <div class="parallax-container">
          <img src="assets/manu.jpg" class="profile-img" alt="Foto manu" />
        </div>
        <h1>
          MANUEL <br />
          VEIGA
        </h1>
      </div>
      <p>
        {{ "manuDescription" | translate }} <br />
        <br />
        Manuel Veiga, Cofounder -
      </p>
      }
    </div>

    <div class="profile-container">
      @if(innerWidth > 600){

      <div class="profile">
        <p>
          {{ "agusDescription" | translate }}
        </p>
        <div class="profile-nameRoleContainer">
          <h1>- AGUSTINA RUIZ</h1>
          <p>Cofounder</p>
        </div>
      </div>
      <div class="parallax-container">
        <img
          class="profile-img"
          src="../../../assets/agus.jpg"
          alt="Foto Agus"
        />
      </div>
      } @else {
      <div class="profile">
        <h1>
          AGUSTINA <br />
          RUIZ
        </h1>
        <div class="parallax-container">
          <img
            class="profile-img"
            src="../../../assets/agus.jpg"
            alt="Foto Agus"
          />
        </div>
      </div>
      <p>
        {{ "agusDescription" | translate }} <br />
        <br />
        - Agustina Ruiz, Cofounder
      </p>
      }
    </div>
  </div>
</main>
