<div class="nosotros"> 
  <div class="profile-container">
    <img src="assets/manu.png" alt="Foto manu">
    <div class="profile">
      <h1>MANUEL VEIGA</h1>
      <p>El Caniche, co-fundador de MA, obtuvo
        su título FADU. Con su espíritu aventurero, ha
        sido un gran representante del AMLS. Enfocado en los 
        travestis y el sexo tántrico, aporta una
        dimensión corporativa fundamental al
        estudio, esencial para el crecimiento de la
        empresa.</p>
      </div>
  </div>

  <div class="profile-container">
    <div class="profile">
      <h1>AGUS RUIZ</h1>
      <p>Agus, co-fundador de MA, obtuvo
        su título FADU. Con su espíritu aventurero, ha
        sido un gran representante del AMLS. Enfocado en los 
        travestis y el sexo tántrico, aporta una
        dimensión corporativa fundamental al
        estudio, esencial para el crecimiento de la
        empresa</p>
      </div>

      <img src="../../../assets/agus.png" alt="Foto Agus">

  </div>

   
</div>

