$deep-onyx: #474642;
$darker-onyx: #393936;
$elegant-charcoal: #777978;
$whitecliff-beige: #dfd9cd;
$stone-white: #e3e2de;
$medici-gray: #afb8b5;
$golden-basketry: #ad9371;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  /*/ INPUTS /*/

  --primary-background-color: $elegant-charcoal;
  --primary-font-color: $stone-white;
  --secondary-font-color: $whitecliff-beige;
}
.main {
  // background-color: $darker-onyx;
  // background-color: #f1f1f1;
  // background-color: #f4f4f4;
  background-color: #e3e2de;
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0px;
  width: 100%;
}
app-topbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  transition: top 0.45s ease-in-out;

  &:not(.initial-state) {
    z-index: 3;
  }

  &.initial-state {
    top: 0;
  }
}

.hidden {
  top: -100px; /* Mueve el topbar fuera de la pantalla */
}

/* Mostrar al pasar el mouse */
app-topbar:hover {
  top: 0 !important;
}

.main {
  display: flex;
  flex-direction: column;
}

/* Contenedor de contenido que se oculta durante la animación */
.content-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  &.hidden {
    opacity: 1; /* Cambiado de 0 a 1 para que sea visible */
    pointer-events: auto; /* Cambiado de none a auto para permitir interacciones */
  }
}

.welcome-container {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  animation: shrinkDisappear 2s ease-in-out forwards;

  &.mobile {
    .welcome-logo {
      animation: shrinkLogoMobile 2s ease-in-out forwards;
    }
  }

  &.desktop {
    .welcome-logo {
      animation: shrinkLogo 2s ease-in-out forwards;
    }
  }
}

.welcome-logo {
  width: 300px;
  height: auto;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Fondo oscuro que se achica detrás del logo */
.welcome-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($deep-onyx, 0.95);
  z-index: 1;
  animation: shrinkBackground 2s ease-in-out forwards;
}

@keyframes shrinkDisappear {
  0% {
    height: 100vh;
    background-color: transparent;
  }
  100% {
    height: 90px;
    background-color: transparent;
  }
}

@keyframes shrinkBackground {
  0% {
    height: 100vh;
    background-color: rgba($deep-onyx, 0.95);
  }
  100% {
    height: 90px;
    background-color: rgba($deep-onyx, 0.65);
  }
}

@keyframes shrinkLogo {
  0% {
    width: 300px;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    width: 90px;
    height: auto;
    top: 45px;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes shrinkLogoMobile {
  0% {
    width: 250px;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    width: 12vw;
    height: auto;
    top: 6vw;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Estilos para el estado inicial del topbar */
app-topbar.initial-state {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Restaurar el topbar a su estado normal */
app-topbar:not(.initial-state) {
  z-index: 3;
  opacity: 1 !important;
  visibility: visible !important;

  .logo-container {
    transform: scale(1);
  }

  .menu-container,
  .menu {
    opacity: 1;
  }
}

::ng-deep .full-width-dialog .mat-mdc-dialog-container {
  border-radius: 0px !important;
  max-width: 100vw !important;
  box-sizing: border-box !important;
}

::ng-deep .full-width-dialog .mat-mdc-dialog-surface {
  box-sizing: border-box !important;

  border-radius: 0px !important;
}
:host ::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0px !important;
}

::ng-deep .mat-mdc-dialog-container,
::ng-deep .mat-mdc-dialog-container *,
::ng-deep .mat-mdc-dialog-surface,
::ng-deep .mat-mdc-dialog-surface * {
  box-sizing: border-box !important;
}
.division {
  width: 100%;
  height: 20vh;
  background: #393936;
  background: linear-gradient(
    rgba(57, 57, 54, 1) 50%,
    rgba(227, 226, 222, 1) 51%
  );
}

@media (max-width: 600px) {
  .projects-container {
    gap: 14px;
    grid-auto-rows: 60px;
    grid-template-columns: 1fr !important; /* Una sola columna en pantallas pequeñas */
  }
  .featuredImg {
    height: 80vw;
  }
  .lema {
    font-size: 14vw;
    margin: 30px 0px 0px 0px;
  }
  .division {
    width: 100%;
    height: 20vh;
    background: #393936;
    background: linear-gradient(
      170deg,
      rgba(57, 57, 54, 1) 50%,
      rgba(227, 226, 222, 1) 51%
    );
  }

  @keyframes shrinkLogo {
    100% {
      width: 12vw;
      height: auto;
      top: 6vw;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  /* Ajustes para móvil en el estado inicial */
  app-topbar.initial-state {
    .logo-container {
      transform: scale(2.5);
    }
  }

  /* Ajustes del fondo oscuro para móvil */
  .welcome-container::before {
    animation: shrinkBackgroundMobile 2s ease-in-out forwards;
  }

  @keyframes shrinkBackgroundMobile {
    0% {
      height: 100vh;
      background-color: rgba($deep-onyx, 0.95);
    }
    100% {
      height: 12vw;
      background-color: rgba($deep-onyx, 0.65);
    }
  }
}

// :ng-deep.cdk-overlay-pane {
//   width: 20vw;
// }
// :ng-deep.mat-mdc-menu-panel {
//   width: 100% !important;
//   max-width: unset;
// }
