/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  font-family: "mainFont", sans-serif;
}

@font-face {
  font-family: "ivnm";
  src: url("assets/fonts/Ivnm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "blair";
  src: url("assets/fonts/Blair\ ITC\ Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modeco", sans-serif;
  src: url("assets/fonts/ModecoTrial-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "modeco", sans-serif;
  src: local("Modeco"),
    url("assets/fonts/ModecoTrial-Regular.otf") format("truetype"),
    url("assets/fonts/ModecoTrial-Regular.otf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "manrope";
  src: url("assets/fonts/Manrope.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-menu-panel {
  max-width: unset !important;
}
.cdk-overlay-connected-position-bounding-box {
  top: 0;
  left: 0;
}
