$deep-onyx: #474642;
$darker-onyx: #393936;
$elegant-charcoal: #777978;
$whitecliff-beige: #DFD9CD;
$stone-white: #E3E2DE;
$medici-gray: #AFB8B5;
$golden-basketry: #AD9371;



  $primary-background-color: $elegant-charcoal;
  $primary-font-color: $stone-white;
  $secondary-font-color: $whitecliff-beige;