<link rel="preconnect" href="https://res.cloudinary.com" />

<div
  class="project-landig"
  [ngStyle]="{
    'background-image':
      'url(' +
      'https://res.cloudinary.com/dskkynwxb/c_fill,g_auto,h_1000,w_1950/q_auto:good/f_auto/' +
      data?.showImg +
      ')'
  }"
>
  <div class="overlay"></div>

  <span class="name">{{ data?.name }}</span>
  <span class="m2" *ngIf="data?.m2">{{ data?.m2 }}m<sup>2</sup></span>
</div>

<section class="images-container">
  @for (image of data?.images; track $index; let i = $index) {
  <div
    [ngStyle]="{
      'grid-row':
        'span ' + (image.featured ? 3 : image.rowSpan ? image.rowSpan : 3),
      'grid-column':
        'span ' + (image.featured ? 3 : image.colSpan ? image.colSpan : 1),
      position: 'relative'
    }"
    (click)="openCarrousel($index)"
  >
    <img
      class="image"
      [ngSrc]="'c_fill,g_auto,h_550,w_550/q_auto:good/f_auto/' + image.src"
      alt="{{ 'Foto del proyecto' }}"
      [fill]="true"
    />
  </div>

  }
</section>

@if(openCarrouselFlag && data?.images){
<div #carrousel class="carrousel" (click)="handleBackdropClick($event)">
  <div class="carrousel-content" (click)="$event.stopPropagation()">
    <button
      class="nav-button prev"
      (click)="prevImage()"
      [disabled]="!hasPrevImage()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Imagen actual -->
    <section
      class="carrousel-imgContainer"
      [class.changing]="isChangingImage"
      [style.background-image]="
        currentImageLoaded ? 'url(' + getCurrentImageUrl() + ')' : 'none'
      "
    >
      @if(isLoadingImage){
      <div class="loading-overlay">
        <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
      </div>
      }
    </section>

    <!-- Botón Next -->
    <button
      class="nav-button next"
      (click)="nextImage()"
      [disabled]="!hasNextImage()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <!-- Botón Previous -->
</div>
}
